@model Ticket

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Close Ticket #@Model.TicketNum</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Title: @Model.TicketTitle</p>
            <form asp-controller="Ticket" asp-action="CloseTicket" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-2">
                <label asp-for="ResolutionSummary" class="form-label">Resolution Summary:</label>
                <textarea asp-for="ResolutionSummary" class="form-control" rows="3"></textarea>
                </div>

                <input type="hidden" asp-for="TicketId" value="@Model.TicketId" />
                <input type="hidden" asp-for="TicketTitle" value="@Model.TicketTitle" />
                <input type="hidden" asp-for="TicketDescription" value="@Model.TicketDescription" />
                <input type="hidden" asp-for="TicketNum" value="@Model.TicketNum" />
                <input type="hidden" asp-for="AssignedToName" value="@Model.AssignedToName" />
                <input type="hidden" asp-for="CreatedBy" value="@Model.CreatedBy" />
                <input type="hidden" asp-for="CreatedDate" value="@Model.CreatedDate" />
                <input type="hidden" asp-for="Priority" value="@Model.Priority" />
                <input type="hidden" asp-for="Status" value="@Model.Status" />


                <button type="submit" class="btn btn-dark">Close</button>
            </form>
        </div>
    </div>
</div>
