@model List<Ticket>

@{
    ViewData["Title"] = "Non-IT User Ticket Summary Page";
}

<div class="d-flex justify-content-between mt-3 mb-2">
    <div><h2>My Tickets</h2></div>
    <div>
        <a asp-controller="Ticket" asp-action="CreateNewTicket" class="btn btn-warning">Create New</a>
    </div>
</div>

<div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-1">Ticket Num</th>
                <th class="col-2">Ticket Title</th>
                <th class="col-3">Ticket Description</th>
                <th class="col-1">Status</th>
                <th class="col-1">Priority</th>
                <th class="col-1">Created Date</th>
                <th class="col-2">Created By</th>
                <th class="col-1">Assigned To</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model)
            {
                <tr>
                    <td>@ticket.TicketNum</td>
                    <td><a asp-controller="Ticket" asp-action="TicketSummary" asp-route-ticketId="@ticket.TicketId" class="">@ticket.TicketTitle</a></td>
                    <td>@ticket.TicketDescription</td>
                    <td>@ticket.Status</td>
                    <td>@ticket.Priority</td>
                    <td>@ticket.CreatedDate.Value.ToShortDateString()</td>
                    <td>@ticket.CreatedBy</td>
                    <td>@ticket.AssignedToName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
