@model Ticket

<div>
    <div class="col-6">
        @Model.TicketNum    @Model.Priority
    </div>
    <div>
        <p>Title: @Model.TicketTitle</p>
    </div>
    <div>
        <p>Description: @Model.TicketDescription</p>
    </div>
    <div>
        <p>Submitted by: @Model.CreatedBy</p>
    </div>
    @if (Model.AssignedToName != "Unassigned")
    {
        <div>
            <p>Assigned to: @Model.AssignedToName</p>
        </div>
    }

    <!-- If the ticket is closed, display the Resolution Summary-->
    @if (Model.ClosedDate != null)
    {
        <div>
            <p>Resolution Summary: @Model.ResolutionSummary</p>
        </div>
    }

    <div>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Ticket Overview</a>
    </div>

    <!-- If the current user is an IT user and the ticket is Open, display the 'Close Ticket' button-->
    @{
        bool isItUser = ViewBag.IsItUser;
        if (isItUser && Model.ClosedDate == null)
        {
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ticketResolutionModal">
                Close Ticket
            </button>
        }
    }
</div>

<div class="modal fade" id="ticketResolutionModal" tabindex="-1" aria-hidden="true">
    <partial name="_enterTicketResolution" model="@Model" />
</div>
